/*main*/
.mainShell {
    display: flex;
    background-image: url(../components/images/yellowPaper.png);
    background-size: cover;
    font-family: ToxTypewriter;
}

.enterBtn {
    margin-left: 40rem;
    margin-top: 14.5rem;
    font-size: 4rem;
    text-decoration: none;
    animation: fadeIn 3s ease-in-out 0s forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*writing animation*/
@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.container,
.mainRight {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}



.MTitle,
.libTitle {
    overflow: hidden;
    white-space: nowrap;
    font-size: 4rem;
}

.libTitle {
    animation: typing 3s steps(30, end);
    position: relative;
    margin-left: 0;
    font-size: 7rem;
    word-wrap: normal;
    text-shadow: .2rem .2rem ghostwhite;
    color: red;
    overflow-wrap: break-word;
}

.MTitle {
    margin-left: 13.5rem;
    animation: typing 3s steps(30, end);
    position: relative;
}

.libTitle::after,
.MTitle::after {

    display: inline-block;
    width: 0;
    animation: typing 3s steps(30, end) reverse;
    animation-fill-mode: forwards;
    margin-left: 5px;
}

.MTitle ::after {
    content: "|";
}




.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.scroll-to-top.visible {
    opacity: 1;
}


@media (max-width: 768px) {
    .dashRight {
        display: none;
    }
}

.menu-items {
    color: white;
}


.mobile-menu {
    margin-left: 5%;
    position: relative;
    display: none;
}

.menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

.menu-icon {
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: -10%;
    margin: 10%;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

.menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: silver;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}


.menu-icon span:nth-child(1) {
    top: 0px;
}

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
    top: 10px;
}

.menu-icon span:nth-child(4) {
    top: 20px;
}

.menu-icon.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.menu-icon.open span:nth-child(2) {
    top: 10px;
    opacity: 0;
    left: -60px;
}

.menu-icon.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

.menu-icon.open span:nth-child(4) {
    top: 10px;
    transform: rotate(-135deg);
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }
}

.arrow-icon {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/*aboutMe*/
.AMShell {
    display: flex;
    background-image: url(../components/images/sideWriter.jpg);
    background-size: cover;
    height: 100%;
    color: ghostwhite;
    width: 100%;
    font-family: ToxTypewriter;
}

.AMLeft {
    width: 60%;
    padding: 2%;
    font-size: 1.5rem;
    text-align: center;
}

.AMRight {
    width: 25%;
    padding: 5%;
}

.AMBtn {
    width: 4rem;
    height: 4rem;
    border: .25rem solid ghostwhite;
    border-radius: 5%;
    color: ghostwhite;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .5);
    margin-left: 8rem;
    font-size: 3rem;
    padding: 2%;
}

/*library*/
.libShell {
    background-image: url(../components/images/hiddenLibrary.jpg);
    background-size: cover;
    height: 100vh;
    color: ghostwhite;
    font-family: ToxTypewriter;
    text-align: center;
    padding: 3%;
    display: flex;
}

.thoughts {
    font-size: 3rem;
    margin-top: 30%;
    text-shadow: .15rem .15rem ghostwhite;
    color: red;
}

.libRight {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.libLeft {
    border: solid .2rem ghostwhite;
    background-color: rgba(0, 0, 0, .8);
    padding: 1%;
}

.libBox, .DRLibBox, .HGHLibBox {
    width: 10rem;
    height: 6rem;
    border: .25rem solid ghostwhite;
    border-radius: 5%;
    color: ghostwhite;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .8);
    margin-left: 8rem;
    font-size: 3rem;
    padding: 2%;
    text-shadow: .1rem .1rem gold;
}



.DRLibBox {
width: 15rem;
}

.HGHLibBox {
height: 10rem;
}

/*stories*/
.TLShell,
.MVIShell,
.LShell,
.DRShell,
.HGHShell,
.KeegShell {
    padding: 2%;
    height: 100vh;
    color: ghostwhite;
    font-family: ToxTypewriter;
    font-size: 1.5rem;
    text-align: center;
}

.stTitle, .DRTitle {
    font-size: 6rem;
    text-shadow: .1rem .1rem red;
    border: solid .25rem red;
    background-color: rgba(0, 0, 0, .5);
    padding-left: 1%;
    padding-right: 1%;
}

.stBar {
    display: flex;
    justify-content: space-around;
    margin-top: -2%;
}

.stBtn,
.LBtn {
    margin-top: 8.5rem;
    height: 2.5rem;
    border-radius: 5%;
    color: ghostwhite;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .5);
    font-size: 2rem;
    padding-left: 1%;
    padding-right: 1%;
}

.stBtn {
    border: .25rem solid ghostwhite;
}

.TLShell {
    background-image: url(../components/images/whiteHearts.jpg);
    background-size: 100%;
    height: auto;
    color: black;
}

.TLBox {
    text-shadow: .05rem .05rem black;
}

.MVIShell {
    background-image: url(../components/images/conflictFaces.jpg);
    background-size: 100%;
    height: auto;
    color: ghostwhite;
}

.MVIBox,
.LBox, .DRBox {
    background-color: rgba(0, 0, 0, .7);
    border: solid .1rem black;
    text-shadow: .05rem .05rem ghostwhite;
}

.LShell {
    background-image: url(../components/images/colors.jpeg);
    background-size: cover;
    height: auto;
    text-shadow: .05rem .05rem ghostwhite;
}

.LBox {
    padding: 1%;
}

.LBtn {
    border: .25rem solid black;
}

.DRShell {
    background-image: url(../components/images/TP.jpg);
    background-size: cover;
    height: auto;
    color: black;
}

.DRBox, .HGHBox {
    color: ghostwhite;
    padding: 1%;
}

.DRTitle {
    color: ghostwhite;
}

.HGHShell {
    background-image: url(../components/images/antiHate.jpg);
    background-size: cover;
    padding-bottom: 10%;
}

.HGHBox {
    text-shadow: .05rem .05rem ghostwhite;
    background-color: rgba(0, 0, 0, .8);
    border: .25rem solid ghostwhite;
    border-radius: 2%;
}

.KeegShell {
    background-image: url(../components/images/SmileyKeegs2.jpg);
    background-size: cover;
    padding-bottom: 20%;
    color: ghostwhite;
    text-shadow: .05rem .05rem ghostwhite;
}

.KeegBox {
    border: solid .25rem ghostwhite;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 2%;
    padding: 1%;
}