
@font-face {
  font-family: "PersianSword";
  src: local("PersianSword"),
    url("./components/fonts/PersianSword/PersianSword.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "ToxTypewriter";
  src: local("ToxTypewriter"),
    url("./components/fonts/ToxTypewriter/ToxTypewriter.ttf") format("truetype");
  font-weight: bold;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
